h1 {
  font-size: 60px;
  color:blue;
}
h2 {
  color:red;
}
div {
  display:inline-block;
  position:relative;
  padding:0;
  margin:0;
  float:left;
  min-width:60px;
  min-height:60px;
  border: 6px solid black;
  padding:0;
}
.square {
  font-size: 55px;
  text-align: center;
}
.blue {
  background-color: blue;
}
#cell4 {
  clear:left;
}
#cell7 {
  clear:left;
}
button {
  clear:both;
  font-size: 25px;
}
